body {
    font-family: cursive;
  }
  
  /* Style the header */
  header {
    background-image: url(istockphoto-1318697731-170667a.webp) ; 
    padding: 50px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Container for flexboxes */
  section {
    display: -webkit-flex;
    display: flex;
  }
  
  /* Style the navigation menu */
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
  }
  

  
  /* Style the content */
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  /* Style the footer */
  .stopka{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }



  img{
    
    max-height: 700px;
    width: auto;
   
  }
  