body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    font-size: large;
    /*text-align-last: center;*/
  }
  
  header {
    background-image: url(foto/monstera.jpg) ; 
      /*https://www.google.com/search?q=monstera+deliciosawalpaper&tbm=isch&ved=2ahUKEwidu_SqopuAAxWaIxAIHYGVD64Q2-cCegQIABAA&oq=monstera+deliciosawalpaper&gs_lcp=CgNpbWcQAzoKCAAQigUQsQMQQzoFCAAQgAQ6BwgAEIoFEENQ9TBYnUBgr0JoAHAAeACAAVKIAfEEkgEBOZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=pRm4ZN3UPJrHwPAPgau-8Ao&bih=710&biw=1476&client=opera&hs=HzE#imgrc=kSNyK2T6xbZDRM*/
    padding: 50px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  

  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    
  }

  .water {
    width: 320px;
    padding: 10px;
    border: 5px solid #87CEEB ;
    margin: 0;
    
  }

  .sun{
    width: 320px;
    padding: 10px;
    border: 5px solid #ebd687;
    
    
  }
  
  /* Style the footer */
  .stopka{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
      
  }



  img{
   max-width: 10%;
      
    border-top: 2px;
  }
 
